<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    {% set pageTitle = seo.title or title or site.name %}

    {% set metaDescription = seo.description or description or site.description %}

    <title>{{ site.name + " | " + title }}</title>

    <meta name="description" content="{{ description }}">
    <meta name="robots" content="{{ robots }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="{{ seo.type or 'website' }}">

    <link rel="stylesheet" href="/assets/styles.css"/>
    <script src="/scripts/main.js"></script>
    <link rel="preload" href="/assets/images/logo.png" as="image" fetchpriority="high">
  </head>

  <body class="govuk-template__body">

    {% include "partials/header.njk" %}

    <div class="landing">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half" >
            {% include "partials/breadcrumbs.njk" %}

            <h2 style="color:white; margin:30px 0;max-width:35rem" class="govuk-heading-xl">{{title}}</h2>
            <h2 class="govuk-body-lead" style="color:white" >{{description}}
            </h2>

            {% if button_title %}
              <a style="margin-top:30px" href={{button_link}} class="govuk-button govuk-button--start">{{button_title}}</a>
            {% endif %}
          </div>
          <div  class="govuk-grid-column-one-half">
            {% if image_url %}
              <img style="width: 100%; max-height:400px;border-radius:5px;object-fit: cover;
    min-height: 400px;" src={{image_url}} alt={{description}}/>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "partials/banner.njk" %}

    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div>
            <p class="govuk-body">{{ content | safe }}</p>
            {% include "partials/contact.njk" %}
            <div class="govuk-grid-column-two-thirds">
              {% include "partials/accordion.njk" %}
            </div>

          </div>

        </div>

      </div>

    </main>

    {% include "partials/footer.njk" %}
  </body>
</html>