@use "sass:math";
@use "govuk-frontend/dist/govuk/settings/index" as govuk-settings with (
  $govuk-include-default-font-face: false,
  $govuk-font-family: Arial
);
@use "govuk-frontend/dist/govuk/tools/index" as *;
@use "govuk-frontend/dist/govuk/helpers/index" as *;
@use "govuk-frontend/dist/govuk/core/index" as *;

@use "govuk-frontend/dist/govuk/objects/width-container/index" as *;
@use "govuk-frontend/dist/govuk/objects/grid/index" as *;

@use "govuk-frontend/dist/govuk/components/header/index" as *;
@use "govuk-frontend/dist/govuk/components/footer/index" as *;
@use "govuk-frontend/dist/govuk/components/breadcrumbs/index" as *;
@use "govuk-frontend/dist/govuk/components/button/index" as *;

html,
body {
  font-family: Arial, Helvetica, sans-serif !important;
}
