---
layout: layout.njk
title: Boost
tags: posts
description: Battery dead? We'll get you powered up and on your way.
permalink: "/services/boost/"
button_title: "Call (403) 606-5084"
image_url : "/assets/images/boost.jpg" 
---
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l">Fast Battery Boosts to Get You Going</h2>
  <p class="govuk-body">Few things are more frustrating than turning your key and hearing nothing. If your battery has died, call us for a quick and reliable boost. We’ll test your battery to ensure it’s not a larger electrical issue and get you back on the road safely.</p>
  <p class="govuk-body">We also carry replacement batteries in case your battery is beyond repair. Service available 24/7 in Calgary and surrounding areas.</p>
</div>