---
layout: layout.njk
title: Our Services
description: All services we provide
permalink: "/services/"
button_title: "Call (403) 606-5084"
button_link: "tel:4036065084"
---


<div class=" dfe-grid-container">
  {% for posts in collections.posts %}
    <div class="dfe-card dfe-arrow">
      {# <img src={{posts.data.image_url}} alt={title} /> #}
      <div class="dfe-card-container">
        <h2 class="bow-heading-m">
          <a class="bow-link bow-link--no-visited-state dfe-card-link--header" href="{{ posts.url }}">{{ posts.data.title }}</a>
        </h2>
        <p class="bow-body">{{posts.data.description}}</p>
      </div>
    </div>
  {% endfor %}
</div>