<footer class="bow-footer">
  <div class="bow-width-container">
    <div class="bow-grid-row">
      <div class="bow-grid-column-one-quarter">
        <p>
          <img
          src="/assets/images/blacklogo.png"
          alt="Logo"
          width="100"
          height="33"
          decoding="async"
          fetchpriority="high"
          style="width:130px; height:33px"
/>
        </div>
      </p>
      <div class="bow-grid-column-one-quarter">
        <p class="bow-label" >
          <strong>Phone</strong>
        </p>
        <p  class="bow-body">
          <strong>
            <a class="bow-link" href="tel:4036065084">(403) 606-5084</a>
          </strong>
        </p>
      </div>
      <div class="bow-grid-column-one-quarter">
        <p class="bow-label" >
          <strong>Email</strong>
        </p>
        <p  class="bow-body">
          <strong>
            <a class="bow-link" href="mailto:Bmf.towing@yahoo.com">Bmf.towing@yahoo.com</a>
          </strong>
        </div>
        <div class="bow-grid-column-one-quarter">
          <p class="bow-label" >
            <strong>Socials</strong>
          </p>
          <p  class="bow-body">
            <strong>
              <a class="bow-link" href="https://www.instagram.com/bmf.towing/">Instagram</a>
            </strong>
          </p>

        </div>

      </div>
      <p style="text-align:center;">Copyright © 2025 bmftowing.ca All Rights Reserved.<p></div>
      </footer>